/* Write your code here: */

/*Group Selector*/
h1, h2{
    color:blueviolet;
}

/*Child Selector*/
.box>p{
    color: firebrick;
}

.box ul{
    color:blue;
}

li.done{
    color:seagreen;
}

ul p.done{
    font-size:0.5rem;
}