body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;

}

h1 {
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-left: -15%;
}

img {
    border: 5px solid white;

}

p {
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    margin-left: -15%;
}